
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 999;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
  position: fixed;
  top: 0;
  left: 15%;
  z-index: 9999;
  height: auto;
  width: 50%;
    background-color: #fff;
    border: 1px solid #ff7100;
    display: inline-block;
    opacity: 0;
    padding: 15px;
    visibility: hidden;
   -webkit-transform: translate(15%, -45%);
    -moz-transform: translate(15%, -45%);
    -ms-transform: translate(15%, -45%);
    -o-transform: translate(15%, -45%);
    transform: translate(15%, -45%);
}
.popupdel {
    background-color: #fff;
    border: 1px solid #ff7100;
    display: inline-block;
    left: 0;
    opacity: 0;
    padding: 5px;
    position: fixed;
    top: 0;
    visibility: hidden;
	z-index: 9999;
   -webkit-transform: translate(150%, -50%);
    -moz-transform: translate(150%, -50%);
    -ms-transform: translate(150%, -50%);
    -o-transform: translate(150%, -50%);
    transform: translate(150%, -50%);
}
.popup a{/* для кнопки-ссылки "Отмена" в модальном окне*/
	text-decoration:none;
}
.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.overlay:target+.popupdel {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.close {
    height: 36px;
    position: absolute;
    right: -35px;
    text-align: center;
    text-decoration: none;
    top: -35px;
    width: 36px;
	color:red;
	z-index:999999999;
}
.close:before {
    color:red;
    content: "X";
    font-size: 30px;
	z-index:999999999;
    }
.close:after {
    color:red;
	z-index:999999999;
}
.popup p, .popup div {
    margin-bottom: 5px;
}
.popup h3{
	margin-top:5px;
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 120px;
}
/*.popup input[type="text"], .popup input[type="date"], .popup input[type="time"], .popup textarea {
    border: 1px #c0c0c0 solid;
    margin: 0;
    padding: 5px;
	font-style: Italic;
	font-size:14px;
	
}
.popup input[type="date"], .popup input[type="time"] {
	width:100px;
}
.popup input[type="text"], .popup input[type="date"], .popup input[type="time"]{
	height:15px;
}
.popup  textarea.abc {
	width:100%;
}
.popup input.lnk{
width:475px;	
}

.popup input[type="text"]:hover, .popup input[type="date"]:hover, .popup input[type="time"]:hover, .popup textarea:hover, 
.popup  textarea.abc:hover {
    border-color: #ff7100;
}
.popup input[type="submit"]:hover, .popup input[type="reset"]:hover {
	background-color:#ff7100;
	color:#fff;
}
*/
.popup #tp{
width:325px;	
}
.popup a.forpic{
font-weight:normal; 
color:blue; 
text-decoration:underline; 
font-size:12px;
}



